/* Base reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Colors */
:root {
    --light-gray: #6B6E70;
    --dark-gray: #474B4F;
    --black: #222629;
    --light-green: #86C232;
    --green: #61892F;
    --white: #F2F2F2;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--black);
}

/* Navigation */
nav{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    text-align: center;
}

.nav-mobile{
    display: block;
}

.nav-desktop{
    display: none;
}
