/* @media (min-width: 768px) { ... } */

/* Navigation */
.nav-mobile{
    display: none;
}

.nav-desktop{
    display: block;
    background-color: var(--bloom-white);
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.nav-desktop li{
    list-style: none;
    display: inline-block;
}

.nav-desktop li a{
    padding: 20px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: var(--bloom-black);
    transition: color 0.3s;
}

.nav-desktop li a:hover{
    color: var(--bloom-)
}